body {
  margin: 0;
}

header {
  background-color: teal;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  color: white;
}

header nav ul li {
  display: inline;
  margin: 0 10px;
  font-size: 1.2rem;
}

header nav ul li a {
  color: inherit;
  text-decoration: none;
}

section {
  padding: 40px;
}

.error {
  color: red;
}
